body { 
	padding-bottom: 70px; 
	background-image: url('imgs/noise.png');
}

.container-fluid { margin-top: 85px; }

.jumbotron { background-color: transparent; }

#footer { 
	margin: 300px 0 -65px 0;
}

canvas:focus { outline: 0; }