<!DOCTYPE html>

{% autoescape true %}

<html>
<head>
{% block head %}



<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/chart-data-morris.js"></script>
<title>{% block title %}{% endblock %}</title>
{% block game %}{% endblock %}
{% endblock %}
</head>

<body>
{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href= "/" class="navbar-brand">BlaBabel</a>
 </div>
 <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav pull-left">
      <li class="active "><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for course in course_list %}
            <li>
              <a href="/course-{{ course.course_id }}">{{ course.course_title }}</a>
            </li>
          {% endfor %}
          <li class="divider"></li>
            <li><a href="/">Separated link</a></li>
        </ul>
      </li>
      <li><a href="/">Link 1</a></li>
      <li><a href="/">Link 2</a></li>
      <li><a href="/">Link 3</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
      <li><a href="/">Link 1</a></li>
      {% if not user %}
      <li><a href="/building">Sign Up</a></li>
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">Log in<b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for url, name in login %}
            <li><a href="{{ url }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="{{ logout }}">Log out</a></li>
      {% endif %}
  </ul> 
 </div>
</nav>
{% endblock %}

{% block user_profile %}
<center>
{% if user %}
  <br><br><br>
  <div>
    <h1>Welcome~ {{ uProfile.username }}</h1>
    <div>
    {% for id in uProfile.courses %}
      <a href="/course-{{ id }}">Course - {{ id }}</a>
    {% endfor %}
    </div>
    <div>
     {% for lname, score in uProfile.lessons %}
      <p> You got {{ score }} points in the {{ lname }} </p>
    {% endfor %}
    </div>
  </div>
{% else %}
  <div>
    <br><br><br>
    <h1>Welcome~</h1>
  </div>
{% endif %}
</center>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<nav class="navbar navbar-inverse navbar-bottom" role="navigation">
  <div class="container-fluid">
    <br>
    <center>
    <p>&copy; 2014 <a href="/" style="text-decoration: none">BlaBabel</a>, Powered By <a href="https://developers.google.com/appengine" style="text-decoration: none">GAE</a> and <a href="http://getbootstrap.com/" style="text-decoration: none">Bootstrap</a>,  Designed by 
    	{% for name, addr in authors %}
    	 <a href="{{ addr }}" style="text-decoration: none"> {{ name }} </a>
    	{% endfor %}
    </p>
    </center>
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}


</body>
</html>

{% endautoescape %}
