{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}


<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h1>Contact Us</h1>
		<p>This webapp is created by following programmers:</p>
		{% for name, url in authors %}
		<p><a href="{{ url }}"> {{ name }} </a></p>
		{% endfor %}
		<br>
		<p>If you wish to contact us, feel free to email us:</p>
		{% for i in range(0, 3) %}
		<p> {{ authors[i][0] }} : {{ emails[i] }}</p>
		{% endfor %}
		
	</div>
</div>


{% endblock %}
