{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block profile %}
<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sb-admin/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

{% endblock %}

{% block content %}

<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active">
            <li><a href="/chart"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
            <li><a href="/courseProgress"><i class="fa fa-table"></i> Course Progress</a></li>
            <li><a href="/buildCourse"><i class="fa fa-edit"></i> Build a Course</a></li>
            <li><a href="/buildLesson"><i class="fa fa-font"></i> Build a Lesson</a></li>
            <li class="dropdown">
          </ul>
        </div>


<center>
<ul class="list-group" style="width: 500px;">
  <li class="list-group-item">Chinese
	<div class="progress progress-striped active">
  		<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			<span class="sr-only">45% Complete</span>
  		</div>
	 </div>
	
  </li>
</center>




<!--The following are for building charts-->
 <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="js/morris/chart-data-morris.js"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>

{% endblock %}
