{% extends "base.html" %}
{% block title %}This is the game page{% endblock %}
{% block game %}

<script src="js/WebGame/web-export/processing.js" type="text/javascript"></script>
<script type="text/javascript">
// convenience function to get the id attribute of generated sketch html element
function getProcessingSketchId () { return 'WebGame'; }
</script>

<script type="text/javascript">
      var bound = false;

      function bindJavascript() {
        var pjs = Processing.getInstanceById('WebGame');
        if(pjs!=null) {
          pjs.bindJavascript(this);
          bound = true; 
        }
        if(!bound) {
          setTimeout(bindJavascript, 250);

        } 
      }
      bindJavascript();

      function getScore(x) {
        document.getElementById('WebGame-score').innerHTML = x;
      }

      function btnLeft() {
      	var pjs = Processing.getInstanceById('WebGame');
      	pjs.btnLeft();
      }

      function btnRight() {
      	var pjs = Processing.getInstanceById('WebGame');
      	pjs.btnRight();
      }

      function pause() {
      	var pjs = Processing.getInstanceById('WebGame');
      	pjs.pause();
      }

      function restart() {
      	var pjs = Processing.getInstanceById('WebGame');
      	pjs.restart();
      }

      function getEndGameResult(b) {

      }

      function HtmlEncode(s)
      {
        //this only replaces one time, using RE to replace all!
        return s.replace(/&#34;/g, '\"')
      }

      //var jsonWords = "{{ jsonWords }}";
      //var words = HtmlEncode(jsonWords);

      var tmp1 = HtmlEncode('{{ jsonWords }}');
      var tmp2 = HtmlEncode('{{ jsonTrans }}');
      console.log(tmp1);
      console.log(tmp2);

      var words = JSON.parse(tmp1);
      var trans = JSON.parse(tmp2);

      // this is a test function, feel free to change it
      function restart() {
        setSourceStringArray(words); 
        setDestStringArray(trans);
      }

      function setSourceStringArray(s) {
      	var pjs = Processing.getInstanceById('WebGame');
        //document.getElementById("WebGame-score").innerHTML = s;
      	pjs.setSourceStringArray(s);
      	pjs.restart();
      }

      function setDestStringArray(s) {
      	var pjs = Processing.getInstanceById('WebGame');
      	pjs.setDestStringArray(s);
      	pjs.restart();
      }
</script>
{% endblock%}


{% block content %}
<center>
	<div class="row-fluid">
		<div class="col-md-6">
			<div>
				<h3>Score: <h3 id="WebGame-score"></h3></h3>
				<button onclick="pause()">Pause</button>
				<button onclick="restart()">Restart</button>
				<canvas id="WebGame" data-processing-sources="js/WebGame/web-export/WebGame.pde"
						width="320" height="480">
					<p>Your browser does not support the canvas tag.</p>
				</canvas>
				<noscript>
					<p>JavaScript is required to view the contents of this page.</p>
				</noscript>
			<!--
			<h1>WebGame</h1>
			<p id="description"></p>
			<p id="sources">Source code: <a href="js/WebGame.pde">WebGame</a> </p>
			<p>
			Built with <a href="http://processing.org" title="Processing">Processing</a>
			and <a href="http://processingjs.org" title="Processing.js">Processing.js</a>
			</p>
			-->
	    </div>
		</div>
</center>
		<div class="col-md-6">
			<!--<h1>This is a utility function area</h>-->
		</div>
{% endblock %}
