{% extends "base.html" %}
{% block title %}This is the main page{% endblock %}
{% block content %}
	
	<div class="row-fluid jumbotron">
		<div class="col-md-5 col-md-offset-1">
			<h1>Hello! Welcome to BlaBabel</h1>
			<p>A crowdsourced language learning site. Connect with others using games and lessons to learn any language from courses developed by the community</p>
			<p><a href="/about" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
		
		<div class="col-md-2">
		
		<!-- moving pictures later -->


		</div>

		
	</div>

{% endblock %}
