{% extends "base.html" %}
{% block title %}This is the main page{% endblock %}

{% block content %}
<div class="jumbotron" style="height: 400px;">
 <div style="float: left; width: 600px;">
  <h1>Hello, world!</h1>
  <p>Want to learn new languages?</p>
  <p><a href="/building" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
 </div>
 <div style="height:350px;width:600px;float:left;">
    <form action="">
    <fieldset>
    <legend><strong>Sign Up</strong></legend>
      <p><input type="text" name="firstname" placeholder="First name">
      <input type="text" name="lastname"  placeholder="Last name"></p>
      <p><input type="email" name="email" placeholder="Email" size="43"></p>
     <p><input type="email" name="emailRe"  placeholder="Re-enter Email" size="43"></p>
      <p><input type="password" name="password"  placeholder="Password" size="43"> </p>
     <p> <input type="radio" name="sex" value="male">Male
      <input type="radio" name="sex" value="female">Female </p>
  <p><a href="#" class="btn btn-primary btn-lg" role="submit">submit</a></p>
    </fieldset>
     
    </form>
 </div>
</div>
</div>

{% endblock %}
