{% extends "base.html" %}
{% block title %}This is the main page{% endblock %}
{% block content %}

<center>
{% if sign_up %}
	<h1>Thank you for signing up BlaBabel</h1>
	<a href="/login">Login</a>
{% endif %}

{% if log_in == 'fail' %}
	<h1>Fail to login, please try again</h1>
	<a href="/login">Login</a>
{% endif %}

{% if log_in == 'success' %}
	<script language="javascript">
	self.location="/profile";
	</script>
{% endif %}

{% if build == 'yes' %}
	<h1>{{ result }}</h1>
	<a href="/course-{{ course.course_id }}"> Check the result </a>
{% endif %}

</center>



{% endblock %}