{% extends "base.html" %}
{% block title %}Chinese Lesson 1{% endblock %}

{% block content %}


{% for e in entry %}
<div>

  <div class="col-sm-3 col-md-3" style="float:left; width:300px;">
    <div class="thumbnail">

      <img src='img/chinese.jpg' alt="...">
      <div class="caption">
	{{ e.english }}
	{{ e.english }}
	{{ e.chinese }}
	{{ e.imageURL }}
        <h3 style="text-align:left;"> {{ e.notes }} </h>
  
     <form>
<span style="display:inline-block; width: 120px;"></span>
	<button type="button" class="btn btn-primary">Boy</button>
	</form>

    </div>
  </div>
</div>

{% endfor %}


{% endblock %}
