{% extends "base.html" %}
{# {% block title %} {{ name }} Lesson {{ lesson.id }} {% endblock %} #}

{% block title %} Lesson {% endblock %}

{% block content %}

{% if not entries %}
<center>
  <h1> Author is not adding any entry yet. </h1>
</center>
{% else %}
<br><br><br><br><br><br>
<center><a href="/game"> Start Game !</a></center>
<br><br><br>

{% for e in entries %}
<div>

  <div class="col-sm-3 col-md-3" style="float:left; width:300px;">
    <div class="thumbnail">

      <img src=' {{ e.imageURL }} ' alt="...">
      <div class="caption">
	{{ e.sourse_language }}
	{{ e.destination_language }}
        <h3 style="text-align:left;"> {{ e.notes }} </h>
  
     <form>
<span style="display:inline-block; width: 120px;"></span>
<!--	<button type="button" class="btn btn-primary">Boy</button> -->
	</form>

    </div>
  </div>
</div>

{% endfor %}
{% endif %}

{% endblock %}
