{% extends "base.html" %}
{# {% block title %} {{ name }} Lesson {{ lesson.id }} {% endblock %} #}

{% block title %} Lesson {% endblock %}

{% block content %}

{% if not entries %}
<center>
  <h1> Author has not added any entries yet. </h1>
</center>
{% else %}
<div>
  <h3 style="text-align:left;"> {{ entries[0].notes }} </h>
</div>
{% for e in entries %}
  <div class="col-sm-3 col-md-3" style="float:left; width:300px;">
    <div class="thumbnail">
      <img src=' {{ e.imgURLs }} ' alt="...">
      <div class="caption">
	       <a>{{ e.word }}</a>
	       <a>{{ e.mean }}</a>
     <form>
      <span style="display:inline-block; width: 120px;"></span>
      <!--	<button type="button" class="btn btn-primary">Boy</button> -->
	   </form>

    </div>
  </div>
</div>

{% endfor %}
{% endif %}

<center><a href="/game-{{ entries[0].lesson_id }}">Start Challenge!</a></center>

{% endblock %}
