{% extends "base.html" %}
{% block title %}This is the main page{% endblock %}
{% block content %}

<!-- Use JS to check username format -->
<center>
<div class="col-md-2">
		<form method="post">
			<fieldset>
				<legend><strong>Sign Up</strong></legend>
				<input type="text" name="firstname" placeholder="First name"><br>
				<input type="text" name="lastname" placeholder="Last name"><br>
				<input type="email" name="email" placeholder="Email"><br>
				<input type="username" name="username" placeholder="Username"><br>
				<input type="password" name="password" placeholder="Password"><br>
				<input type="password" name="passwordRe" placeholder="Password"><br><br>
				<button class="btn btn-primary btn-lg" type="submit">submit</button><br>
			</fieldset>
		</form>
</div>

</center>

{% endblock %}